body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
}

#game-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}